# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
.astro/
build/

# Entornos
.env
.env.local
.env.*.local
*.pem
*.key

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Backups locales
*.bak
*.backup

# Datos sensibles del proyecto
credentials/
secrets/
